body {
    font-family: sans-serif;
    font-size: 20px;
    background-color: gainsboro;
    line-height: 150%;
}

#content {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 700px;
    margin: 0 auto;
}

#menubar {
    font-size: 120%;
    color: dimgray;
}

#sitetitle {
    font-size: 250%;
}

h1, h2, h3, h4, h5, h6 {
    color: dimgray;
}

a, u {
    text-decoration: none;
}
