body {
    font-family: sans-serif;
    background-color: ivory;    /* rgb(255,255,240) */
}

#content {
    padding-top: 50px;
    width: 800px;
    margin: 0 auto;
}

#sitetitle {
    font-size: 250%;
    color: rgb(77,77,0);
}
