@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-size: 20px;
    background-color: ivory;
    line-height: 150%;
    font-family: Roboto, sans-serif;
}

#content {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 700px;
    margin: 0 auto;
}

#menubar {
    font-size: 120%;
    margin-bottom: 2em;
    /* color: dimgray; */
}

#sitetitle {
    font-size: 250%;
}

h1, h2, h3, h4, h5, h6 {
    /* color: dimgray; */
}

a, u {
    text-decoration: none;
}
