{%- for author in paper.authors -%}
  {%- assign name = author | split: ", " -%}
  {{name[1]}} {{name[0]}},&#32;
{%- endfor -%}

{%- if paper.url -%}
  <a href="{{paper.url}}">
{%- endif -%}
"{{paper.title}}"
{%- if paper.url -%}
  </a>
{%- endif -%}

, in&#32;
{%- for editor in paper.editors -%}
  {%- assign name = editor | split: ", " -%}
  {{name[1]}} {{name[0]}}
  {%- if forloop.last == true -%}
    &nbsp;(editors)
  {%- endif -%}
  ,&#32;
{%- endfor -%}
<em>{{paper.book}}</em>

{%- if paper.volume and paper.series -%}
  , volume {{paper.volume}} of {{paper.series}}
{%- endif -%}

{%- if paper.pages -%}
  , pages&nbsp;{{paper.pages}}
{%- endif -%}

{%- if paper.note -%}
  , {{paper.note}}
{%- endif -%}

{%- if paper.publisher -%}
  , {{paper.publisher}}
{%- endif -%}

{%- if paper.year -%}
  , {{paper.year}}
{%- endif -%}

{%- if paper.preprint -%}
  &#32;[[preprint](/papers/{{paper.preprint}})]
{%- endif -%}
