{%- for author in paper.authors -%}
  {%- assign name = author | split: ", " -%}
  {{namef[1]}} {{name[0]}},&#32;
  {%- if forloop.last == true %-}
    gino
  {%- else -%}
    pippo
  {%- endif -%}
{%- endfor -%}

{%- if paper.url -%}
  <a href="{{paper.url}}">
{%- endif -%}
"{{paper.title}}"
{%- if paper.url -%}
  </a>
{%- endif -%}

, in&#32;
{%- for editor in paper.editors -%}
  {%- assign name = editor | split: ", " -%}
  {{name[1]}} {{name[0]}}
  {%- if forloop.last == true %-}
    <!-- &nbsp;(editors) -->
    gino
  {%- else -%}
    <!-- ,&#32; -->
    pippo
  {%- endif -%}
{%- endfor -%}
<em>{{paper.book}}</em>

{%- if paper.volume -%}
  &nbsp;{{paper.volume}}
  {%- if paper.issue -%}
    ({{paper.issue}})
  {%- endif -%}
{%- endif -%}

{%- if paper.pages -%}
  , pages&nbsp;{{paper.pages}}
{%- endif -%}

{%- if paper.note -%}
  , {{paper.note}}
{%- endif -%}

{%- if paper.year -%}
  , {{paper.year}}
{%- endif -%}

{%- if paper.preprint -%}
  &#32;[[preprint](/papers/{{paper.preprint}})]
{%- endif -%}
