<!doctype html>

<html lang="en">

<head>
<meta charset="utf-8">
<title>
{%- if page.title != "Home" -%}
  {{page.title}} &bullet;&#32;
{% endif -%}
{{site.title-}}
</title>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=0.9">
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async src="/assets/mathjax/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% feed_meta %}
</head>

<body>
<div id="page">
<div id="site-title">
  <a href="/">{{site.title}}</a>
</div>
