<!-- 5 -->

{%- for author in paper.authors %}
  {{author.given}} {{author.family}}, 
{%- endfor %}

{%- if paper.url %}
  [{{paper.title}}]({{paper.url}})
{%- else %}
  {{paper.title}}
{%- endif %}

{%- if paper.editors and paper.title %}
  , in
{%- endif %}

{% for editor in paper.editors -%}
  {{editor.given}} {{editor.family}}
  {%- if forloop.last == true -%}
    (editors)
  {%- else -%}
    ,
  {%- endif -%}
{% endfor -%}

{%- if paper.publication -%}
  , 
  {%- if paper.title or paper.url == nil -%}
  *{{paper.publication}}*
  {%- else -%}
    [*{{paper.publication}}*]({{paper.url}})
  {%- endif -%}
{%- endif -%}

{%- if paper.series -%}
  , volume {{paper.volume}}
  {%- if paper.issue -%}
    ({{paper.issue}})
  {%- endif -%}
  of {{paper.series}}
{%- elsif paper.volume -%}
  {{paper.volume}}
  {%- if paper.issue -%}
    ({{paper.issue}})
  {%- endif -%}
{%- endif -%}

{%- if paper.pages -%}
  , pages {{paper.pages}}
{%- endif -%}

{%- if paper.note -%}
  , {{paper.note}}
{%- endif -%}

{%- if paper.publisher -%}
  , {{paper.publisher}}
{%- endif -%}

{%- if paper.year -%}
  , {{paper.year}}
{%- endif -%}

{%- if paper.preprint -%}
  [[preprint](/papers/{{paper.preprint}})]
{%- endif -%}
